.input{
    padding: 5px 5px;
    border: 0px;
    border-bottom: 1px solid gray;
    font-size: 14px;
    outline: none;
}
.input + label{
    color: gray;
}

.input:focus{
    border-bottom: 2px solid darkcyan;
}
.input:focus+label{
    color: darkcyan;
}

.input-container{
    margin:10px 0px;
}

.input-container.line-break{
    display: flex;
    flex-direction: column-reverse;
}


.btn{
    padding: 10px 20px;
    border-radius: 50px;
    border: 0px;
    outline: none;
}
.btn-primary{
    color: darkcyan;
    background-color: lightcyan;
    border: 1px solid darkcyan;
}

.btn-primary:hover{
    background-color: cyan;
    cursor: pointer;
}


.link{
    color: darkcyan;
    text-decoration: underline;
    cursor: pointer;
}
.link:hover{
    color: cyan;
}

#container.error > input{
    color:red;
    border-color: red;
}
#container.error > label{
    color:red;
}
#container.error + #errorMsg{
    color: red;
}
