.d-flex{
    display: flex;
}

.flex-colomn{
    flex-direction: column;
}
.flex-row{
    flex-direction: row;
}

.justify-space-between{
    justify-content: space-between;
}

.flex-1{
    flex: 1;
}